.contact-component-wrapper {
  background-color: rgb(255, 236, 244);
  margin: 0;
  min-height: 50vh;
}

.contact-component-header {
  padding: 10px;
  margin: 0;
  font-size: 5rem;
  color: transparent;
  text-transform: uppercase;
}
.home-contact-icons {
  font-size: 4rem;
}
.home-contact-icons:hover {
  /* font-size: 4rem; */
  scale: 1.2;
}

.home-contact-link {
  color: inherit;
  transition: ease 0.2s;
  text-decoration: none;
}
.home-contact-link:hover {
  text-decoration: none;
  /* color: var(--default-color); */
}

.home-contact-link:hover .home-contact-heading {
  text-decoration: underline;
}
