nav {
  margin-top:20px;
  background: white;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 3px;
  justify-content: center;
}

ul > a {
  text-decoration: none;
  list-style: none;
}

ul > a:hover {
  text-decoration: none;
}

li {
  display: inline;
  margin-left: 100px;
  text-decoration: none;
  font-weight: bold;
}
