.schedule-component-header {
  color: transparent;
  font-size: 6rem;
  font-weight: 800;
}

.bar {
  padding: 2px;
  margin-top: 1rem;
  background-color: var(--default-color);
}

.timeline-header {
  display: block;
  background: var(--default-color);
  /* background-color: aqua; */
  padding: 10px 0px;
  margin: 0.5rem 0rem;
  border-radius: 10px;
  transition: 0.1s;
}

.timeline-header::before {
  content: "";
  height: 0;
  width: 0;
  z-index: -1;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  bottom: -10px;
  transform: rotate(45deg);
  background-color: var(--default-color);
  /* background-color: #f08ae5; */
}
.timeline-header:hover::before,
.timeline-header:hover {
  background: var(--default-color);
}

.event-timestamp {
  color: white;
}

.timeline-header:hover .event-timestamp {
  color: white;
}

.rounded {
  border-radius: 10px;
}

.feature-image {
  width: 40%;
  float: right;
  margin-right: 1rem;
}
@media screen and (max-width: 960px) {
  .feature-image {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .feature-image {
    width: 100%;
  }
}
