.speaker-list {
  display: flex;
  flex-wrap: wrap;
}

.speaker {
  padding: 5px;
  margin-top: 20px;
  border-radius:12px;
  border:1px solid rgb(251, 145, 145);
  padding:32px;
}

.speaker > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.speaker-description {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
}
